<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475110957780-ov69g9edq0lm1hm1ih0kiaikclqv6s1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475110957780-ov69g9edq0lm1hm1ih0kiaikclqv6s1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBt_sU_V_jEurXSmZkgCeZqCsABWEG7p54</string>
	<key>GCM_SENDER_ID</key>
	<string>475110957780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymMetrics</string>
	<key>PROJECT_ID</key>
	<string>gymmetrics-e2ae0</string>
	<key>STORAGE_BUCKET</key>
	<string>gymmetrics-e2ae0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475110957780:ios:ad6df4857b56b5846e9141</string>
</dict>
</plist>